node_red-2
[{"id":"dd06f121.2392f","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"87752e17.e584e","type":"inject","z":"dd06f121.2392f","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":220,"wires":[["5d2b64ce.efff3c"]]},{"id":"5d2b64ce.efff3c","type":"function","z":"dd06f121.2392f","name":"Payload","func":"msg.headers={\n    deviceKey:\"cu5w0dxIsK1GTHWE\"\n};\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":240,"wires":[["daba15e6.54e758","acceaca3.df27c"]]},{"id":"daba15e6.54e758","type":"http request","z":"dd06f121.2392f","name":"","method":"GET","ret":"txt","url":"http://api.mediatek.com/mcs/v2/devices/DfsLIp2l/datachannels/temperature/datapoints.csv","tls":"","x":610,"y":220,"wires":[["dc3728b5.687678","9d1c9fa.5f7af6"]]},{"id":"dc3728b5.687678","type":"debug","z":"dd06f121.2392f","name":"OAO","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":870,"y":340,"wires":[]},{"id":"9d1c9fa.5f7af6","type":"http response","z":"dd06f121.2392f","name":"","statusCode":"","headers":{},"x":850,"y":180,"wires":[]},{"id":"acceaca3.df27c","type":"http request","z":"dd06f121.2392f","name":"","method":"GET","ret":"txt","url":"http://api.mediatek.com/mcs/v2/devices/DfsLIp2l/datachannels/humidity/datapoints.csv","tls":"","x":610,"y":320,"wires":[["9d1c9fa.5f7af6","dc3728b5.687678"]]}]
