node_red_gpio-1
[{"id":"60f3de11.d4d8a","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"8f9c34d5.7fbb88","type":"http response","z":"60f3de11.d4d8a","name":"","statusCode":"","headers":{},"x":530,"y":220,"wires":[]},{"id":"89a020b4.fe262","type":"rpi-gpio in","z":"60f3de11.d4d8a","name":"GPIO11","pin":"12","intype":"up","debounce":"25","read":true,"x":170,"y":280,"wires":[["7c144cf4.d4a304"]]},{"id":"7c144cf4.d4a304","type":"function","z":"60f3de11.d4d8a","name":"set GPIO","func":"global.set(\"GPIO\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":280,"wires":[["5bc811e8.91656"]]},{"id":"867d46e8.0c2378","type":"http in","z":"60f3de11.d4d8a","name":"","url":"/pin11","method":"get","upload":false,"swaggerDoc":"","x":180,"y":200,"wires":[["2e4395a9.2781ba"]]},{"id":"2e4395a9.2781ba","type":"function","z":"60f3de11.d4d8a","name":"get GPIO","func":"msg.payload = global.get(\"GPIO\");\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":220,"wires":[["8f9c34d5.7fbb88","5bc811e8.91656"]]},{"id":"5bc811e8.91656","type":"debug","z":"60f3de11.d4d8a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payloadnew","x":630,"y":360,"wires":[]}]
