node_red_gpio-2
[{"id":"54297ec8.214f1","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"6d855902.d2b488","type":"http in","z":"54297ec8.214f1","name":"","url":"/setgpio5","method":"get","upload":false,"swaggerDoc":"","x":130,"y":140,"wires":[["fd382c6f.8aa07","b2383394.a025b"]]},{"id":"fd382c6f.8aa07","type":"function","z":"54297ec8.214f1","name":"set to 1","func":"msg.payload=1;\nreturn msg;","outputs":1,"noerr":0,"x":130,"y":320,"wires":[["b041df89.3a51b"]]},{"id":"b041df89.3a51b","type":"rpi-gpio out","z":"54297ec8.214f1","name":"","pin":"11","set":"","level":"0","freq":"","out":"out","x":250,"y":440,"wires":[]},{"id":"b2383394.a025b","type":"function","z":"54297ec8.214f1","name":"return status","func":"msg.payload=\"GPIO11 set to HIGH\";\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":260,"wires":[["9e2476bc.81f508","b5e8700b.e34a8"]]},{"id":"9e2476bc.81f508","type":"http response","z":"54297ec8.214f1","name":"","statusCode":"","headers":{},"x":380,"y":340,"wires":[]},{"id":"b5e8700b.e34a8","type":"debug","z":"54297ec8.214f1","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":430,"y":520,"wires":[]},{"id":"ffddb9a4.ba0ed8","type":"http in","z":"54297ec8.214f1","name":"clear gpio5","url":"/clear5","method":"get","upload":false,"swaggerDoc":"","x":90,"y":520,"wires":[["2047a766.0c7528","126295c9.e0bcea"]]},{"id":"2047a766.0c7528","type":"function","z":"54297ec8.214f1","name":"clear to 0","func":"msg.payload=0;\nreturn msg;","outputs":1,"noerr":0,"x":190,"y":600,"wires":[["b041df89.3a51b"]]},{"id":"126295c9.e0bcea","type":"function","z":"54297ec8.214f1","name":"return status","func":"msg.payload=\"GPIO11 set to LOW\";\nreturn msg;","outputs":1,"noerr":0,"x":210,"y":660,"wires":[["9e2476bc.81f508","b5e8700b.e34a8"]]}]
