node_red-3
[{"id":"469b48cb.5554e8","type":"tab","label":"Flow 6","disabled":false,"info":""},{"id":"e867d79d.5ff2b8","type":"inject","z":"469b48cb.5554e8","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"onceDelay":0.1,"x":330,"y":220,"wires":[["2e947cae.e63024"]]},{"id":"2e947cae.e63024","type":"function","z":"469b48cb.5554e8","name":"Payload","func":"msg.headers={\n    deviceKey:\"cu5w0dxIsK1GTHWE\"\n};\nmsg.payload=\"temperature,,30\";\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":260,"wires":[["9d52af58.4a81a"]]},{"id":"9d52af58.4a81a","type":"http request","z":"469b48cb.5554e8","name":"","method":"POST","ret":"txt","url":"https://api.mediatek.com/mcs/v2/devices/DfsLIp2l/datapoints.csv","tls":"","x":660,"y":260,"wires":[["b2ffa293.6c44b","5442ac7f.af0294"]]},{"id":"b2ffa293.6c44b","type":"http response","z":"469b48cb.5554e8","name":"","statusCode":"","headers":{},"x":850,"y":260,"wires":[]},{"id":"5442ac7f.af0294","type":"debug","z":"469b48cb.5554e8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":860,"y":180,"wires":[]}]
